body{
    background-color: black;
}
.contenedor{
    display: flex;
    
    margin-top: 100px;
    margin-left: 750px;
}

.submit{
    border: 1px solid black;
    margin-left: 15px;
    cursor: pointer;
    background-color: white;
}

.submit p{
    text-align: center;
}

.submit:hover{
    background-color: whitesmoke;
    border: 3px solid orange;
    transition: all .2s ease;
}

.respuesta{
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}

.tablero1{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
    margin-top: 80px;
}
.tablero2{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero3{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero4{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero5{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero6{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero7{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero8{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero9{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}
.tablero10{
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
}

.div1{
    background-color: white;
    border: 1px solid blue;
    width: 100px;
    height: 100%;
}

h2{
    color: white;
    margin-left: 20px;
}

h3{
    color: white;
    margin-left: 20px;
}

.barcosJugador{
    color: white;
}

.barcosMaquina{
    color: white;
}

.contenedor1{
    display: flex;
    color: white;
    margin-left: 20px;
}